@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Open+Sans&family=Roboto:wght@300;400;700&family=Shizuru&display=swap');

html {
  font-family: 'Lato', sans-serif;
  /* font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Shizuru', cursive; */
}
