* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

body > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

h1 {
  width: 100%;
  text-align: center;
}

#user-registration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

#board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
}

#board img {
  width: 90px;
  height: 90px;
  padding: 0.3rem;
  cursor: pointer;
}

.hidden-image {
  border: 1px solid black;
  opacity: 0.3;
}
