* {
  box-sizing: border-box;
}

html {
  background-color: black;
}

body {
  height: 2000px;
  width: 100vw;
}

body * {
  border: 4px solid yellow;
  margin: 8px;
}

.parent,
.parent-sibling {
  /* display: inline-block; */
  height: 240px;
  width: 240px;
  padding: 8px;
}

.parent-sibling {
  color: white;
}

.float-me {
  /* add float property */
  float: left;
  /* then add heading and clear it */
  height: 60px;
  width: 60px;
  background-color: red;
  border: transparent;
  margin: 4px;
  margin-right: 14px;
}

/* clear float */
/* h1 {
  clear: left;
} */

.parent {
  position: sticky;
  top: 0;
  /* fixed */
  /* sticky onscroll */
  /* relative for child positioning absolute */
}

.child,
.child-sibling {
  background-color: blue;
  height: 100px;
  width: 100px;
}

.child {
  position: absolute;
  bottom: 0;
  right: 0;
  /* absolute with no relative parent */
  /* vs absolute with relative parent */
}

.grandchild {
  background-color: orange;
  height: 35px;
  width: 35px;
}
