/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  height: 100%;
  width: 100%;
}

/* direct children only, no grand(grand-...)children */
body > * {
  margin: 1.5rem 0;
  padding: 1rem;
}

/* HEADER STYLES */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgrey;
}

#logo {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-and-icon {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.link-and-icon:hover {
  color: blue;
}

.link-and-icon span:hover {
  text-decoration: underline;
}

/* MAIN STYLES */

#cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1 0 40%;
  margin: 1rem;
  padding: 2rem;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.card img {
  width: 100%;
  max-width: 300px;
  max-height: 200px;
  height: auto;
  object-fit: cover;
}

/* FOOTER STYLES */

footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer a {
  color: inherit;
  margin-right: 2rem;
}
