* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* table */

table {
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  border: 1px solid black;
}

@media print {
  th,
  td {
    padding: 0;
  }
}

th {
  text-align: left;
}

/* 
 * pseudo-classes 
 */

/* 
 * first, last, nth child 
 */

/* tr:first-child {
  background-color: lightblue;
} */

/* tr:last-child {
  background-color: lightgreen;
} */

/* tr:nth-child(2) {
  background-color: yellow;
} */

/* tr:nth-child(odd) {
  background-color: plum;
} */

/* 
 * first, last, nth of type 
 */

/* td:first-of-type {
  background-color: gold;
} */

/* td:last-of-type {
  background-color: blueviolet;
} */

/* td:nth-of-type(even) {
  background-color: lightgreen;
} */

/* 
 * not -> we write :not(), inside the parentheses we place
 * an ADDITIONAL CSS selector, something like ele.class-name > p
 */

/* tr:not(tbody tr) {
  background-color: lightgreen;
} */

/* .salary:not(.director .salary) {
  background-color: lightpink;
} */

/* tr:not(:not(#jane)) {
  background-color: lightgreen;
} */

/* 
 * ::before, ::after
 */

th::before {
  content: '▸';
  margin-right: 1rem;
}

td:last-child::after {
  content: '✓';
  margin-left: 1rem;
}

td:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
