* {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  /* rem is calculated as each increment of font-size in the root pseudo-element */
}

html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

p {
  padding: 0.5rem;
}

/* SELECTORS */

/* element */
section {
  border: 4px solid green;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

/* @media screen and (max-width: 600px) {
  section {
    line-height: 2.5rem;
  }
} */

/* class */
.first-section {
  font-weight: bold;
}

/* id */
#second-span {
  font-size: 30px;
  color: red;
}

/* class and id */
#p1.paragraph {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* descendants */
.paragraph span {
  background-color: yellow;
}

/* direct child */
section > p {
  background-color: lightblue;
}

/* hover */
p:hover {
  transform: rotateY(180deg);
  border: 3px dashed red;
  cursor: pointer;
}
